<div class="row">  
  <h1>PulseJS</h1>  
</div>

<div id="rows">
  
</div>

@section scripts {
  <style>
    .source .item-row {
      height: 152px;
    }

    .source .item-row > div {
      display: table;
      height: 100%;
      width: 100%
    }

    .source .item-row > div > div {
      display: table-cell;
    }

    .scroll-container {
      height: 100%;
      width: 100%;
    }

    .source .scroll-container > div {
      border: 0;
      border-style: none;
      border-width: 0;
    }

    .source .scroll-container .post-title {
      font-size: 11px;
    }

    .source .scroll-container .col-lg-1 {
      max-height: 150px;
      overflow: hidden;
      padding-right: 0;
    }

    .source .scroll-btn {
      height: 100%;
      width: 15px;
      border: 1px;
      border-color: #000;
      border-style: solid;
      background-color: #000;
      cursor: pointer;
    }

    .source .scroll-btn span {
      padding-top: 66px;
      color: #fff;
    }

    object {
      object-fit: cover;
      width: 97px;
      height: 97px;
    }
  </style>

  <script src="~/Assets/Scripts/mb.pulsejs.template-loader.js"></script>
  <script src="https://raw.githubusercontent.com/ilinsky/jquery-xpath/master/jquery.xpath.js"></script>
  <script>
    function getXmlDataSource(url) {
      return new kendo.data.DataSource({
        transport: {
          read: {
            url: url,
            dataType: "xml",
            dataFilter1: function(data) {
              // Smashing the feed title in to the model because kendo's XPath implementation doesn't allow getting the root or parent
              // and I don't want to hit the xml twice to get data that should be available on the initial hit
              var feedTitle = $.xpath(data, "(/rss/channel/title)[1]").text() || "Unknown Source";
              return data.split("<item>").join("<item><feedTitle>" + feedTitle + "</feedTitle>");
            }
          }
        },
        schema: {
          type: "xml",
          data: "rss/channel/item",
          model: {
            fields: {
              feedTitle: "feedTitle/text()",
              title: "title/text()",
              pubDate: "pubDate/text()",
              story: "description/text()",
              url: "link/text()",
              imageUrl: "enclosure/@@url"
            }
          }
        },
        pageSize: 10
      });
    }

    window.app = (function($, kendo, console, tl) {
      var
        feedDataSources = [],
        rowTemplate,
        summaryTemplate;

      tl.loadExtTemplate("Assets/templates/_index.template.html");

      feedDataSources.push({ uid: "src1", url: "http://localhost:64149/api/passthrough?url=http://www.radionz.co.nz/rss/national.xml", title: "Radio NZ: National Headlines" });
      feedDataSources.push({ uid: "src2", url: "http://localhost:64149/api/passthrough?url=http://syndication.apn.co.nz/rss/nzhrsscid_000000001.xml", title: "NZ Herald: National Headlines" });
      feedDataSources.push({ uid: "src3", url: "http://localhost:64149/api/passthrough?url=http://www.stuff.co.nz/rss/", title: "Stuff: National Headlines" });
      feedDataSources.push({ uid: "src4", url: "http://localhost:64149/api/passthrough?url=http://www.stuff.co.nz/rss/manawatu-standard/", title: "Stuff: Manawatu Headlines" });

      //Subscribe to event triggered when templates loaded
      //(Don't load Kendo UI before templates are available)
      $(document).bind("FEED_MANAGER_TEMPLATE_LOADED", function(e, data) {
        console.log('Templates loaded');

        //Compile and cache templates
        rowTemplate = kendo.template($("#row-template").html(), { useWithBlock: false });
        summaryTemplate = kendo.template($("#summary-template").html(), { useWithBlock: false });


        feedDataSources.forEach(function(src) {          
          var html = kendo.render(rowTemplate, [{ feedTitle: src.title, uid: src.uid }]);
          $("#rows").append(html);

          $("#" + src.uid + " .scroll-container > div").kendoListView({
            dataSource: getXmlDataSource(src.url),
            template: summaryTemplate
          });          
        });

        //_rowTemplate = kendo.template($("#rowPost-Summary").html(), { useWithBlock: false });
        //_postDetailTemplate = kendo.template($("#tmplPostDetail").html(), { useWithBlock: false });
        //_panelItemTemplate = kendo.template($("#feedItem").html(), { useWithBlock: false });

        //Load Feed Items
        //that.refreshFeedList();
        //_private.initKendoUI();
        //_private.initDelegates();

        //Trigger event indicating init is complete
        $(document).trigger("FEED_READER_APP_READY");
      });

    }(jQuery, kendo, console, templateLoader));
  </script>
}

@*


  http://localhost:64149/api/passthrough?url=http://syndication.apn.co.nz/rss/nzhrsscid_000000001.xml


          <item>
            <title>Son missing after car plunges into Hamilton river</title>
            <link>http://www.nzherald.co.nz/nz/news/article.cfm?c_id=1&amp;objectid=11629258&amp;ref=rss</link>
            <description>Emergency services are at the scene of a car submerged in a river in Hamilton.The red station wagon appears to be lying on its side in the water of a tributary of the Waikato River at a bridge near the intersection of Matangi Rd...</description>
            <author>newsfeeds@nzherald.co.nz</author>
            <pubDate>Wed, 27 Apr 2016 07:54:27 +1200</pubDate>

            <enclosure url="http://media.apn.co.nz/webcontent/image/jpg/201618/car_70x71.jpg?media_subtype_id=16|caption=The car partially submerged. Photo / Belinda Feek " length="2000" type="image/jpeg" />
          </item>

*@